<!DOCTYPE html>
<html>
    <head>
        <title>评论管理</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="/stylesheets/reply.css">
    </head>
    <body class="bg">
        <header style="width:100%;height:140px;"> 
          <img src="./images/logo.png" style="width:120px;height:120px;float:left;margin-left: 30px;"/>
          <p style="float:left;color:white;font-size:42px;line-height:130px;margin-left:40px;">图文期刊在线阅读管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/home">首页</a>
            </div>
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav" style="background: rgba(255,255,255,0.5);box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;">
                <a href="/block">评论管理</a>
            </div>
            <div class="nav">
                <a href="/book">期刊管理</a>
            </div>
            <div class="nav">
                <a href="/score">O币管理</a>
            </div>
            <div class="nav" >
                <a href="/system">系统管理</a>
            </div>
         
        </div>
        <div class="right">
            <div style="width:75%;height:420px;margin:40px auto;background: rgba(255,255,255,0.5);;font-size:20px;text-align: center;">
                <p style="text-align:center;color:white;padding-top:20px;font-size: 30px;">回复编号<%= ReplyInList[0].replyId%>的回复信息</p>
                <div style="width:530px;height: 350px;margin: 0 auto;">
                    <div style="width:530px;height:250px;margin:20px auto;text-align:left;">
                        <div class="systemText2">
                            <p>回复用户手机号
                                <span id="name"><%= ReplyInList[0].userPhone%></span>
                            </p>
                        </div>
                        <div class="systemText1">
                            <p>更新时间
                                <span id="sex"><%= ReplyInList[0].postTime%></span>
                            </p>
                        </div>
                        <div class="systemText3" style='overflow: hidden;'>
                            <p>回复内容</p>
                            <p style="border: 1px solid white;margin-top: 10px;border-radius: 10px;text-align: center;height:160px;font-size: 20px;">
                                <span id="phone"><%= ReplyInList[0].replyContent%></span>
                            </p>
                    </div>
                    </div>
                <div style="margin: 0 auto;">
                    <a href="/deletereply?replyId=<%= ReplyInList[0].replyId%>&&bookId=<%= bookId%>&&postId=<%= postId%>">
                        <button id="out" class="systemOut" style="margin-right: 30px;">删除</button>
                    </a>
                    <a href='/reply?postId=<%= ReplyInList[0]["postId"] %>&&bookId=<%= bookId%>'>
                        <button id="out" class="systemOut">返回</button>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script>
    </script>
</html>
