<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户管理</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/record.css' />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_oswwuan5y68.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_ta96e29j5ne.css">
</head>
<body class="bg">
    <header style="width:100%;height:140px;"> 
      <img src="./images/logo.png" style="width:120px;height:120px;float:left;margin-left: 30px;"/>
      <p style="float:left;color:white;font-size:42px;line-height:130px;margin-left:40px;">图文期刊在线阅读管理系统</p>
    </header>
    <div class="left">
        <div class="nav">
            <a href="/home">首页</a>
        </div>
        <div class="nav" style="background: rgba(0,0,0,0.5);box-shadow:0px 0px 15px 1px rgba(255,255,255,0.89) inset;">
            <a href="/user">用户管理</a>
        </div>
        <div class="nav">
            <a href="/block">评论管理</a>
        </div>
        <div class="nav">
            <a href="/book">期刊管理</a>
        </div>
        <div class="nav">
            <a href="/score">O币管理</a>
        </div>
        <div class="nav">
            <a href="/sys">系统管理</a>
        </div>
    </div>
    <div class="right">
        <div class="box1" style="color:white">
            <p style="font-size:35px;font-weight:bold;color: white;">阅读记录详情
                <a href="/subscribe?userPhone=<%= userPhone %>" style="color:white"><span style="margin-left:30px;font-size: 28px;" class="iconfont icon-fanhui" id="btn"></span></a>
            </p>
        </div>
        <div class='ListInbox3'>
            <ul id="all" >
                <% for(var i = 0 ; i < subList.length; i++) {%>
                    <li>
                        <p class='ListInbody'><%= i+1 %></p>
                         <%if(subList[i]["readProgress"] !=null){%>
                            <p class='ListInbody'><%= subList[i]["readProgress"] %></p>
                            <%}else{%>
                                <p class='ListInbody'>暂无</p>
                                <%}%>
                        <p class='ListInbody'><%= subList[i]["readDate"] %></p>

                    </li>
                <%}%>  
            </ul>
        </div>
        <div style=" width: 92%;height:30px;text-align: center;margin:25px auto;color: white;"> 
            <div class="page">
                <div id="page">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
   function getzz() {
    var a = $("ul#all li");
    var zz =new Array(a.length);
    for(var i=0;i <a.length;i++){
        zz[i]=a[i].innerHTML;
    } //div的字符串数组付给zz
    return zz;
}
function change(e){
    pageno=e;
    if(e<1){
        e=1;pageno=1;//就等于第1页 ， 当前页为1
    }
    if(e>pageall){  //如果输入页大于最大页
        e=pageall;pageno=pageall; //输入页和当前页都=最大页
    }
    $("#all").html("");//全部清空
    if(pageno==1){
        var html="<li ><div style='text-align: left;line-height:3.7rem;'><h1>书号:<%= bookId%>&nbsp;&nbsp;&nbsp;&nbsp;手机号:<%=userPhone%></h1></div> </li> <li ><div class='ListInhead'><h2 class='ListInhead1'>编号</h2><h2 class='ListInhead1'>阅读记录</h2><h2 class='ListInhead1'>更新日期</h2></div></li> ";
    }
    else{
        var html="<li ><div style='text-align: left;line-height:3.7rem;'><h1>书号:<%= bookId%>&nbsp;&nbsp;&nbsp;&nbsp;手机号:<%=userPhone%></h1></div> </li> <li ><div class='ListInhead'><h2 class='ListInhead1'>编号</h2><h2 class='ListInhead1'>阅读记录</h2><h2 class='ListInhead1'>更新日期</h2></div></li> ";
    }    for(var i=0;i<pagesize;i++){
        html += '<li>' + zz[(e-1)*pagesize+i] +'</li>';//创建一页的li列表
        if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
    }
    $("ul#all").html(html);//给ul列表写入html
    var ye="";
        for(var j=1;j<=pageall;j++){
            if(e==j){
                ye=ye+"<span><a href='#' onClick='change("+j+")' style='background:rgba(255,255,255,0.5);color:white'>"+j+"</a></span> "
            }else{
                ye=ye+"<a href='#' style='color:#fff' onClick='change("+j+")'>"+j+"</a> "
            }
        }
        var pageContent="";
            pageContent +='第<span id=\"a2\">'+pageno+'</span>/';
            pageContent +='<span id="a1">'+pageall+'</span>页';
            pageContent +='<a href="#" style="margin-left:10px;color:white" onClick="change(--pageno)"><</a>';
            pageContent +="<span id='a3' style='margin-left:10px'>"+ye+'</span>';
            pageContent +='<a href="#" style="margin-left:5px;color:white" onClick="change(++pageno)">></a>';
            $("#page").html(pageContent);
}
    var zz=getzz()
    var pageno=1 ; //当前页
    var pagesize=3; //每页多少条信息
    if(zz.length%pagesize==0){
        var  pageall =zz.length/pagesize ;
    }else{
        var  pageall =parseInt(zz.length/pagesize)+1;
    }   //一共多少页
    change(1);
</script>
</html>